@import url('./manrope.css');

:root {
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-family: 'Manrope-Variable';
	--color-bg: #f6faf9;
	--color-text: #2c5b6c;
	background-color: var(--color-bg);
	color: var(--color-text);
	--tooltip-font-family: 'Manrope-Variable' !important;
}

h1 {
	font-size: 10rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
}
