@import url('./manrope.css');

:root {
	--color-primary-a0: #ffffff;
	--color-primary-a10: #e1e1ef;
	--color-primary-a20: #c4c4df;
	--color-primary-a30: #a7a8d0;
	--color-primary-a40: #8a8cc0;
	--color-primary-a50: #6d72b0;
	--color-primary-a60: #575a8a;
	--color-primary-a70: #424466;
	--color-primary-a80: #2e2f44;
	--color-primary-a90: #1a1b24;
	--color-primary-a100: #000000;

	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-family: 'Manrope-Variable';
	--color-bg: var(--color-primary-a0);
	--color-text: var(--color-primary-a90);
	--color-highlight: var(--color-primary-a50);
	background-color: var(--color-bg);
	color: var(--color-primary-a80);
	--tooltip-font-family: 'Manrope-Variable' !important;
}

body {
	margin: 0px;

	@media screen and (max-width: 576px) {
		width: 100dvw;
	}
}

h1 {
	font-size: 10rem;
	color: var(--color-primary-a70);
	@media screen and (max-width: 576px) {
		font-size: 6rem;
	}
}

h2 {
	font-size: 4rem;
	color: var(--color-primary-a70);
	@media screen and (max-width: 576px) {
		font-size: 3.5rem;
	}
}

h3 {
	color: var(--color-primary-a70);
	font-size: 2rem;
}

.big-round-button {
	background-color: var(--color-primary-a70);
	color: var(--color-primary-a0);
	border: unset;
	border-radius: 20px;
	padding: 8px 24px;
	font-weight: 800;
	font-size: 16px;

	cursor: pointer;

	transition:
		font-size 150ms cubic-bezier(0.68, -0.6, 0.32, 1.6),
		background-color 140ms linear;
}

.big-round-button:active {
	font-size: 14px;
}

.big-round-button:hover {
	background-color: var(--color-highlight);
}
